name: build
on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - uses: actions/checkout@v1

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.25.1"

      - name: Install Cosign
        uses: sigstore/cosign-installer@main

      - name: Update go deps
        run: go mod tidy

      - name: install go mock
        run: go install go.uber.org/mock/mockgen@latest

      - name: install go-junit
        run: go get -u github.com/jstemmer/go-junit-report

      - name: run tests
        run: make test

      - name: run e2e tests
        run: make e2e

      - name: build executable
        run: make build; ls; ls bin
